body {
  margin: 0;
  padding: 0;
  font-family: 'Dongle', sans-serif;
}

header {
  background: linear-gradient(to bottom right, #80DEEA, #ffffff75, pink);
  color: #fff;
  padding: 20px;
}

section {
  background-color: #fff;
  text-align: center;
  padding: 50px;
}

footer {
  background-color: #eee7f5;
  color: #000;
  text-align: center;
  padding: 20px;
}

h1 {
  margin-top: 0;
  animation: move-text 1s ease-in-out infinite alternate;
  font-size: 45px;
}

@keyframes move-text {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(5px);
  }
}

p {
  font-size: 24px;
}

img {
  margin-right: 10px;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: inline-block;
}

nav li {
  float: left;
}

nav a {
  display: block;
  padding: 20px 30px;
  color: #000;
  text-decoration: none;
  font-size: 24px;
}

nav a:hover {
  background-color: #fff;
  color: #00a5c6;
}

nav li:not(:last-child) {
  margin-right: 30px;
}