@import "reset.css";

body {
    width: 1250px;
    height: auto;
}

header {
    width: 100%;
    height: 250px;
    background: cyan;
}

section {
    width: 100%;
    height: 600px;
    background: pink;
}

footer {
    width: 100%;
    height: 150px;
    background: orange;
}